:root {
    --while--color: #fff;
    --black--color: #000;
    --text--color: #333;
    --primary--color: #ff3300;
    --header--height: 120px;
    --navbar--height: 34px;
    --header--with--search--height: calc(var(--header--height) - var(--navbar--height));
    --header--sort--bar--height: 46px;
}

* {
    box-sizing: inherit;
}

.mr-8 {
    margin-right: 8px;
}

.mr-16 {
    margin-right: 16px;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.gird__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


/* Test */

.gird__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}


/* Animation */

@keyframes fadeIn {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth--from));
    }
    to {
        transform: scale(var(--growth--to));
    }
}

@keyframes navbarNotifyFace {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.across {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    display: block;
    background-color: var(--primary--color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}


/*--------------- Modal ----------- */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal.open {
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    animation: overlayView ease .2s;
}

@keyframes overlayView {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal__body {
    --growth--from: 0.6;
    --growth--to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}


/* Button Style */

.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    padding: 0 12px;
    font-size: 1.4rem;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: var(--text--color);
    background-color: var(--while--color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-size-s {
    height: 32px;
    font-size: 1.4rem;
    padding: 0 8px;
}

.btn.btn-nomal:hover {
    background: rgba(0, 0, 0, 0.1);
}

.btn.btn-primary {
    background: var(--primary--color);
    color: var(--while--color);
}


/* Selection */

.select-input {
    min-width: 160px;
    height: 34px;
    border-radius: 2px;
    padding: 0 12px;
    background-color: var(--while--color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text--color);
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__lable {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: -1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 2px);
    width: 100%;
    background-color: var(--while--color);
    border-radius: 2px;
    padding: 8px 0;
    margin: 0;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__list::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 100%;
    height: 8px;
}

.select-input__link {
    display: block;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    color: var(--text--color);
    font-size: 1.4rem;
}

.select-input__link:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color: var(--primary--color);
}


/* <!-- Pagination --> */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary--color);
    color: var(--while--color);
    cursor: context-menu;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--primary--color);
    min-width: 40px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 2px;
}

.pagination-item__link:hover {
    background-color: #e9e9e9;
    color: #ff8e71;
}